
.contact-background {   
    background-color: rgba(57, 76, 86, 0.5);
    padding-bottom: 80px;
    padding-top: 40px;
}


.contact-header-container {
    padding: 20px;
    display: block;
    align-items: center;
    height: 185px; 
    text-align: center; 
    margin-left: auto;
    margin-right: auto;   
    padding-bottom: 40px;
}

.contact-h2 { 
    color: #fff;
    margin: 0;
    margin-top: 30px;
    font-size: 1.35em;
    margin-bottom: 35px;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
}

.contact-form-container {
    padding: 20px;
    display: block;
    align-items: center;
    height: 185px; 
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 30px;
}

.contact-email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-email p {
    color: white;
    font-weight: bold;
}

.contact-email-icon {
    width: 60px;
    height: 60px;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 85%;
    height: 400px;
}

.contact-form-container h2 {
    color: #394c56;
    font-size: 2em;
    margin-bottom: 20px;
}

input, textarea {
    width: 400px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    border-radius: 10px;
    height: 50px;
    border: 1px solid #b8b8b8; /* Set the border properties */
    box-sizing: border-box;
}

textarea {
    height: 150px;
}

input::placeholder,
textarea::placeholder {
  text-indent: 5px; /* Adjust the value to move the placeholder text to the right */
}

textarea::placeholder {
    padding-top: 12px;
  }

.contact-btn {
    width: 400px;
    height: 45px;
    margin-top: 20px;
}