.portfolio-background {
    background-color: white;
    padding-bottom: 100px;
    padding-top: 0px;

}

.container {
    padding: 20px;
    display: block;
    align-items: center;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;   
    padding-bottom: 0px;
    padding-top: 50px;
    background-color: aliceblue;
}

.row h1, .row h2{
    animation: slideIn 1.7s ease-out; /* Adjust animation duration and timing function as needed */
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.portfolio-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 40px;
}

.mockup-image {
    width: 80%;  
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.mockup-image img{
    width: 100%;
    height: auto;
}

.about-container {
    display: block;
    align-items: center;
    text-align: left; 
    margin-left: auto;
    margin-right: auto;   
    padding-bottom: 20px;
    padding-top: 20px;
}

.about-title, .about-text {
    text-align: left; 
    margin-left: auto;
    margin-right: auto;
    width: 73%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}


.project-tags img {
    width: 30px;
    height: 30px;
    margin-right: 10px;;
}

.project-tags p {
    margin-right: 40px;
    margin-top: 5px;
}