.header-container {
    padding: 20px;
    display: flex;
    align-items: center;
    background-image: url('../Assets/clouds2.gif');
    /*background-image: url('../Assets/clouds.gif');*/
    /*background-image: url('../Assets/blue-water2.gif');*/
    background-size: cover; 
    background-position: center; /* Adjust background position as needed */
    height: 150px; /* Adjust header height as needed */
    /* Add additional styles for the header */
    text-align: center; /* Center the title */
}

.header-title {
    color: white;
    font-size: 2.5em;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
}

.category-bts {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust margin between pieces */
  }
  
  .portfolio-piece {
    width: calc(33.33% - 20px); /* Adjust width to fit 3 pieces per row */
  }
  
  .portfolio-link {
    text-decoration: none;
    color: inherit;
  }
  
  .portfolio-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .portfolio-info {
    margin-top: 10px;
  }
  
  .portfolio-image img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }