.homeLogo {
    width: 50%;
    height: auto;
    margin-left: 150px;
    display: block;
    margin-top: 100px;
    align-self: flex-start; /* Align the logo to the start (left) */
  }
  
  .home-image {
    width: 50%;
    min-height: 550px;
    display: block;
    align-items: flex-start;
    margin-bottom: -50px;
  }

  .tagline {
    width: 80%;
    color: white;
    font-weight: lighter;
  }
  
  .home-content {
    margin-left: 150px;
    margin-top: 40px;
  }
  
  .home-buttons {
    display: flex;
    flex-direction: row; /* Stack buttons vertically */
    margin-top: 30px; /* Add some top margin for spacing */
  }

  .home-btn {
    width: 180px;
    margin-right: 15px;
  }

  

body {   

  background-image: url('./Assets/home_clouds.png');
  /* Set background size to cover the entire screen */
  background-size: cover;
  /* Center the background image horizontally and vertically */
  background-position: center center;
  /* Repeat the background image only horizontally and vertically */
  background-repeat: no-repeat;
  /* Set a fixed background attachment */
  background-attachment: fixed;
}

.about {
    background-color: #527687;

}

.about-text {
    display: block;
    width: 30%;
    margin-bottom: 20px; 
  }
  
  .about-text h1 {
    margin-bottom: 30px; 
    margin-top: 50px;
  }
  
  .about-text h2 {
    margin-bottom: 20px; 
  }
  
  .about-text p {
    margin-bottom: 20px; 
  }

.white-box {
    background-color: white;
    min-height: 500px;
    width: 100%;
    padding: 0;
    border-radius: 300px 0 300px 0; /*top-left, top-right, bottom-right, bottom-left*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headshot {
    width: 43%;
    height: auto;
    position: sticky;
    bottom: 0
}

.services {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.topRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;

}

.bottomRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.services-3 { /* view more button */
    min-height: 180px;
    width: 31%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.services-1, .services-2, .services-4, .services-5, .services-6 {
    background-color: white;
    min-height: 180px;
    width: 31%;
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-1 {
    border-radius: 100px 0 0px 0; /*top-left, top-right, bottom-right, bottom-left*/
}

.services-6 {
    border-radius: 0 0 100px 0; /*top-left, top-right, bottom-right, bottom-left*/
}

.viewMore {
  width: 200px;
}

.working-together {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto; /* Set the height of your div */
  background-color: #f4f4f4; /* Set the background color */
  outline: 20px solid rgba(255, 255, 255, 0.5);
  }


.working-together-text {
  display: block;
  margin-left: 40px; 
  margin-top: 20px;
  width: 45%;
}

.headshot_round {
  width: 35%;
  height: auto;
  margin-left: 40px;

}


.working-together-text h2 {
  margin-bottom: 20px; /* Add space below the h2 element */
  margin-top: 20px;
}

.working-together-text p {
  margin-bottom: 20px; /* Add space below the p element */
}

.working-together button {
  width: 200px;

}

/* mobile styles */
@media (max-width: 767px) {
  .homeLogo {
    width: 50%;
    margin-left: 5%;
    margin-top: 15%;
    margin-bottom: 10%;
  }
  
  .home-image {
    width: 100%;
    min-height: 300px;
    margin-bottom: 20%;
  }

  .tagline {
    width: 90%;
    font-weight: bolder;
    margin-top: 10%;
    margin-left: 5%;
    padding-top: 10px;
  }
  
  .home-content {
    margin-left: 0;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .home-buttons {
    justify-content: center;
    padding-top: 10%;
    display: block;
    margin-top: 0%;
  }

  .home-btn {
    width: 93%;
    height: 50px;
    margin-bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-text {
    width: 80%;
    margin-left: auto; 
    margin-right: auto;
  }

  .about-text h1, .about-text p, .about-text h2 {
    text-align: justify; 
  }

  .about-text h1 {
    text-align: center;
    margin-bottom: 40px; 
  }

  .about-text h2 {
    display: none;
  }

  .white-box {
    display: block;
    text-align: center;
    border-radius: 100px 0 100px 0;
  }

  .headshot {
    width: 100%;
  }

  .services {
    width: 98%;
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .services  h2 {
    font-size: 1.05em;
  }

  .bottomRow {
    margin-top: 3%;
}


.services-1, .services-2, .services-3, .services-4, .services-5, .services-6 {
    min-height: 150px;
}

.services-1 {
    border-radius: 80px 0 0px 0; /*top-left, top-right, bottom-right, bottom-left*/
}

.services-6 {
    border-radius: 0 0 80px 0; /*top-left, top-right, bottom-right, bottom-left*/
}


 

  .working-together {
    width: 90%;

  }

  .working-together-text {
    margin-left: 5%;
    margin-top: 10px;
    width: 47%;
  }

  .headshot_round {
    width: 40%;
    margin-left: 5%;
  }

  .working-together-text h2 {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .working-together-text p {
    margin-bottom: 20px;
    font-size: 1em;
  }

  .working-together button {
    width: 80%;
  }
}

/*awkward breakpoint in between */
@media (min-width: 767px) and (max-width: 826px) {

  .about-text {
    width: 50%;
    margin-left: 10%;
    margin-bottom: 0%;
  }

  .about-text h2 {
    display: none;
  }

  .about-text h1 {
    margin-top: 5%;
  }

  .about-text p {
    font-size: 0.8em;
  }

  .white-box {
    border-radius: 120px 0 120px 0;
    margin-top: -10%;
  }

  .headshot {
    width: 55%;
    margin-bottom: -9%;
  }

  .services {
    width: 98%;
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .services  h2 {
    font-size: 1.05em;
  }

  .bottomRow {
    margin-top: 3%;
}


.services-1, .services-2, .services-3, .services-4, .services-5, .services-6 {
    min-height: 150px;
}

.services-1 {
    border-radius: 80px 0 0px 0; /*top-left, top-right, bottom-right, bottom-left*/
}

.services-6 {
    border-radius: 0 0 80px 0; /*top-left, top-right, bottom-right, bottom-left*/
}


 

  .working-together {
    width: 90%;

  }

  .working-together-text {
    margin-left: 5%;
    margin-top: 10px;
    width: 50%;
  }

  .headshot_round {
    width: 40%;
    margin-left: 5%;
  }

  .working-together-text h2 {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .working-together-text p {
    margin-bottom: 20px;
    font-size: 1em;
  }

  .working-together button {
    width: 80%;
  }

}

@media (min-width: 826px) and (max-width: 962px) {

  .about-text {
    width: 50%;
    margin-left: 10%;
    margin-bottom: 0%;
  }

  .about-text h2 {
    display: none;
  }

  .about-text h1 {
    margin-top: 5%;
  }

  .about-text p {
    font-size: 0.8em;
  }

  .white-box {
    border-radius: 120px 0 120px 0;
    margin-top: -10%;
  }

  .headshot {
    width: 55%;
    margin-bottom: 0%;
  }

  .services {
    width: 80%;
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .services  h2 {
    font-size: 1.5em;
  }

  .bottomRow {
    margin-top: 3%;
}


.services-1, .services-2, .services-3, .services-4, .services-5, .services-6 {
    min-height: 200px;
}

.services-1 {
    border-radius: 80px 0 0px 0; /*top-left, top-right, bottom-right, bottom-left*/
}

.services-6 {
    border-radius: 0 0 80px 0; /*top-left, top-right, bottom-right, bottom-left*/
}


 

  .working-together {
    width: 75%;

  }

  .working-together-text {
    margin-left: 5%;
    margin-top: 5%;
    width: 45%;
  }

  .headshot_round {
    width: 40%;
    margin-left: 5%;
  }

  .working-together-text h2 {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .working-together-text p {
    margin-bottom: 20px;
    font-size: 1em;
  }

  .working-together button {
    width: 80%;
  }
}

/* tablet styles */
@media (min-width: 962px) and (max-width: 1300px) {

  .about-text {
    width: 40%;
    margin-left: 10%;
    margin-bottom: 5%;
  }

  .about-text h2 {
    display: none;
  }

  .about-text h1 {
    margin-top: 15%;
  }

  .about-text p {
    font-size: 1em;
  }

  .white-box {

    border-radius: 120px 0 120px 0;
  }

  .headshot {
    width: 55%;
  }

  .services {
    width: 80%;
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .services  h2 {
    font-size: 1.5em;
  }

  .bottomRow {
    margin-top: 3%;
}


.services-1, .services-2, .services-3, .services-4, .services-5, .services-6 {
    min-height: 200px;
}

.services-1 {
    border-radius: 80px 0 0px 0; /*top-left, top-right, bottom-right, bottom-left*/
}

.services-6 {
    border-radius: 0 0 80px 0; /*top-left, top-right, bottom-right, bottom-left*/
}


 

  .working-together {
    width: 75%;

  }

  .working-together-text {
    margin-left: 5%;
    margin-top: 10%;
    width: 45%;
  }

  .headshot_round {
    width: 40%;
    margin-left: 5%;
  }

  .working-together-text h2 {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .working-together-text p {
    margin-bottom: 20px;
    font-size: 1em;
  }

  .working-together button {
    width: 80%;
  }
  

}